<div class="container">
    <div class="row mt-5">
        <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-lg-1">
            <div class="card">
                <h5 class="card-header">
                    Registration For Event
                </h5>
                <div class="card-body p-3" >
                    <label class="text-center"><b>Subject :</b> {{event.SubjectName}}</label> 
                    <br>
                    <label for=""><b> Regitration Date :</b> </label>
                    <div class="form-row">
                        
                        <div class="col">
                            <label><b>Start Date</b></label> <p>{{event.StartDate |date}} </p>
                        </div>
                        <div class="col">
                            <label><b>Last Date </b></label> <p style="color:darkred">{{event.EndDate |date}}</p>
                        </div>
                    </div>
                    <label><b>Exam Date</b></label> <p style="color:rgb(15, 235, 26)">{{event.ExamDate | date}}</p>
                    
                    <label><b>Description :</b></label> {{event.Description}}
                    <div class="form-row">
                        <div class="col">
                            <button (click)="applyForEvent(event)" class="form-control btn btn-primary">APPLY</button>
                        </div>
                        <div class="col">
                            <button (click)="discard()" class="form-control btn btn-danger">DISCARD</button>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
