
  <div class="container">
      
    <div class="row mt-5" >
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <h4 class="card-header text-center">Participation Signup Form</h4>
                <!-- Registration form  -->
                <div class="card-body">
                    <form  [formGroup]="generalService.registrationForm" (ngSubmit)="onSignup()">

                        <div class="form-group">
                          <label for="first_name">Name</label>
                          <input class="form-control" formControlName="Name" placeholder="Name"  type="text" >
                          <span class="alert-danger" *ngIf="name.touched && name.errors?.required">Please fill your name here!</span>
                        </div>
                        
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input placeholder="Email" class="form-control" id="Email" formControlName="Email" type="email" >                     
                          <span class="alert-danger" *ngIf="email.touched && email.errors?.required">Please fill your email here!</span>
                          <span class="alert-danger" *ngIf="email.touched && email.errors?.email">Please fill your valid email here!</span>
                        </div>

                        <div class="form-group">
                          <label for="password">Password</label>
                          <input  class="form-control" placeholder="Password" formControlName="Password" type="password">                          
                          <span class="alert-danger" *ngIf="password.touched && password.errors?.required">Please fill your password here!</span>
                          <span class="alert-danger" *ngIf="password.touched && password.errors?.minlength">Password must be of 8 characters!</span>
                        </div>


                        <div class="iform-group">
                            <button [disabled]="generalService.registrationForm.invalid" class="btn btn-primary form-control">SIGNUP</button>
                        </div>


                    </form>
                    <span class="d-flex justify-content-center">Already registered,<a routerLink="/signin">Click here to Login</a></span>
                  </div>
            </div>
        </div>
    </div>


  </div>

